# Ignore Files
.DS_Store
.htaccess
public/wp-config.php

# Ignore Directories
log
public/wp-content/plugins/*
!public/wp-content/plugins/.gitkeep
public/wp-content/uploads/*
!public/wp-content/uploads/.gitkeep